{% extends 'base_h.html' %}

{% block title %}{{name}}欢迎光临首页{% endblock %}
{% block css_file %}
<link rel="stylesheet" type="text/css" href="/static/blogs/css/common.css">
{% endblock %}
{% block content %}
<div class='blogs_head'>
	<div class='blogs_head_middle'>
		<a class='a_title' href=''>GUAN博客首页</a>
		<a class='a_tb a_active' href='http://www.baidu.com/'>PYTHON</a>
		<a class='a_tb' href='http://www.baidu.com/'>DJANGO</a>
		<a class='a_tb' href='http://www.baidu.com/'>HTML</a>
		<a class='a_tb' href='http://www.baidu.com/'>CSS</a>
		<a class='a_tb' href='http://www.baidu.com/'>JAVASCRIPT</a>
		<a class='a_tb' href='http://www.baidu.com/'>AJAX</a>
		<a class='a_tb' href='http://www.baidu.com/'>JQUARY</a>
		<a class='a_tb' href='http://www.baidu.com/'>注册</a>
		<a class='a_tb' href='http://www.baidu.com/'>登录</a>
	</div>
</div>
{% endblock %}
<!--{% block js_file %}
<script src="/static/blogs/js/common.js"></script>
{% endblock %}-->