{% extends 'base_h.html' %}

{% block title %}{{name}}欢迎光临首页{% endblock %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="/static/hcharts/css/common.css">
{% endblock %}

{% block content %}
<div id="container" style="min-width:400px;height:400px"></div>	
{% endblock %}

{% block js_file %}
<script src="/static/hcharts/js/jquery-1.8.3.min.js"></script>
<!--<script src="/static/hcharts/js/highcharts-zh_CN.js"></script>-->
<script src="/static/hcharts/js/highcharts.js"></script>
<script src="/static/hcharts/js/exporting.js"></script>
<script src="/static/hcharts/js/common.js"></script>
{% endblock %}